# Example environment variables for local development
# Copy this file to .env and fill with environment-specific secrets. Do NOT commit .env
# Change this when you push to production guys, don't forget to set these environment variables in your production environment as well!
# I will have to solve my house if you don't know how to do this and leak my credentials.

# Database
DB_URL=jdbc:mysql://localhost:3306/SWP391_EcoSolution
DB_USER=root
DB_PASS=root

# Third-party API keys
THIRD_PARTY_API_KEY=

# Add other secrets below as needed
